<ion-header>
  <ion-toolbar class="headerbgc">
    <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
     </ion-buttons>
    <ion-title>Introduction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="bordernew">
  <p class="fontq">What is ECMA?</p>
  <p>European Computers Manufacturers Assosciation (ECMA)</p>
  <p>Standardization in operational techniques, such as programming, and also input and output codes</p>
  <br>
  <p class="fontq">What is ECMAScript or ES?</p>
  <p>ECMAScript is the scripting language that forms the basis of JavaScript.</p>
  <p>ECMAScript is standardized by the ECMA International standards organization.</p>
  <p>Other implementations of ECMAScript include SpiderMonkey, V8, JScript, Qtscript, InScript and ActionScript.</p>
  <br>
  <p class="fontq">What is ECMAScript6(ES6)?</p>
  <p>ECMAScript6 is the upcoming version of the ECMAScript standard.</p>
  <p>The Sixth Edition of ECMAScript standards, known as ES6 or ECMAScript 2015 adds significant new syntax for writing complex applications, including classes and modules.</p>
  <p>Also called ECMAScript6 (ES6) or ECMAScript 2015 (ES2015)</p>
</ion-toolbar>

</ion-content>
